#boxes .window {
    position:fixed;
    left:0;
    top:0;
    width:440px;
    height:200px;
    display:none;
    z-index:9999;
    padding:20px;
}

#boxes #dialog {
    width:375px;
    height:203px;
    padding:10px;
    background-color:#ffffff;
}