/*-------------------------
	Table of contents
---------------------------
1.0 - Import
2.0 - Typography
3.0 - General Styles
4.0 - Colors
5.0 - Header
6.0 - Menu
7.0 - Slider
8.0 - Section
9.0 - Sidebar
10.0 - Footer
-------------------------*/



/*-------------------------
	1.0 - Import
-------------------------*/

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


/*-------------------------
	2.0 - Typography
-------------------------*/

@font-face {
    font-family: 'Asenine Regular';
    src: url('../fonts/asenine_.eot');
    src: url('../fonts/asenine_.eot?#iefix') format('embedded-opentype'),
         url('../fonts/asenine_.woff2') format('woff2'),
         url('../fonts/asenine_.woff') format('woff'),
         url('../fonts/asenine_.ttf') format('truetype'),
         url('../fonts/asenine_.svg#Asenine Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.asenine {
	font-family: 'Asenine Regular';
	letter-spacing: 2px;
}

/*-------------------------
	3.0 - General Styles
-------------------------*/
 
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Verdana';
	background-image: url('../img/bg-paper.jpg');
	background-position: center center;
	background-repeat: repeat-y;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-family: 'Asenine Regular';
}

.box-shadow {
	box-shadow: 0 0 12px #ddd;
	-ms-box-shadow: 0 0 12px #ddd;
	-webkit-box-shadow: 0 0 12px #ddd;
	border-radius: 8px;
	padding: 15px;
	overflow: hidden;
}

.transition {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.padding-20 {padding: 20px 0;}
.padding-40 {padding: 40px 0;}
.padding-60 {padding: 60px 0;}

/*-------------------------
	4.0 - Colors
-------------------------*/

.dark-blue {color: #0e3c5d;}
.bg-dark-blue {background-color: #0e3c5d;}
.blue {color: #54a3da;}
.bg-blue {background-color: #54a3da;}
.light-blue {color: #a9d1ec;}
.bg-light-blue {background-color: #ddedf8;}
.white {color: #fff;}
.bg-white {background-color: #fff;}
.black {color: #000;}
.bg-black {background-color: #000;}
.gray {color: #555555;}
.bg-gray {background-color: #555555;}




/*-------------------------
	5.0 - Header
-------------------------*/

.logo {
	margin-top: 10px;
	padding: 20px;
}

.slogan {
	margin-top: 18px;
	padding: 15px 15px 15px 50px;
}

.logo, .slogan {
	-webkit-transform:skewX(160deg);
	-ms-transform:skewX(160deg);
    transform:skewX(160deg);
}

.logo img, .slogan h1 {
	-webkit-transform:skewX(200deg);
	-ms-transform:skewX(200deg);
    transform:skewX(200deg);
	text-transform: uppercase;
}

.slogan h1 p {
	text-transform: initial;
	font-size: 20pt;
}

.outubro{
    float: right;
    margin-top: -187px;
    margin-right: -74px;
    position: inherit;
    margin-bottom: -29px;
}


/*-------------------------
	6.0 - Menu
-------------------------*/
.navbar-default {
	margin-top: 10px;
	border: none;
	box-shadow: 1px 2px 2px #ddd;
	border-radius: 10px;
	font-family: 'Asenine Regular';
	font-weight: bold;
	font-size: 17pt;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
	color: #FFF;
    background-color: #54a3da;
}

.navbar-default .navbar-nav>li>a {
	color: #000;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: #54a3da;
}

.navbar-nav.nav-justified > li {
	float: none;
}

.dropdown-menu>li>a,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
	font-family: 'Asenine Regular';
	font-weight: bold;
	font-size: 14pt;
}


.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.dropdown-menu>li>a {
    display: block;
    padding: 2px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.2;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
	background-color: transparent;
}

.dropdown-menu .divider {
    height: 2px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #FAF7F2;
}


/*-------------------------
	7.0 - Slider
-------------------------*/

#myCarousel {
    position: relative;
    margin-bottom: 40px;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive, .thumbnail a>img,
.thumbnail>img {
	margin-left: 60px;
}

.carousel-indicators {
	position: absolute;
	bottom: -25px;
	left: 75%;
	z-index: 15;
	width: auto;
	padding: 6px 20px;
	margin-left: -30%;
	text-align: center;
	list-style: none;
	background-color: #fff;
	border-radius: 6px;
}

.carousel-indicators li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #0e3c5d;
    border-radius: 12px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #49a4e5;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
}

#logosCarousel {
	padding: 4px 0;
}

#logosCarousel .carousel-inner>.item>a>img,
#logosCarousel .carousel-inner>.item>img,
#logosCarousel .img-responsive, .thumbnail a>img,
#logosCarousel .thumbnail>img {
	margin-left: 90px;
}

.carousel-control {
    text-shadow: none;
    filter: alpha(opacity=100);
    opacity: 1;
}

/*-------------------------
	8.0 - Section
-------------------------*/

section {
	margin-bottom: 20px;
}

section h1 {
	font-size: 30pt;
	margin-bottom: 5px;
}

section h1 span {
	font-size: 18pt;
	font-style: italic;
}
section p {
	font-family: 'Verdana';
	font-size: 12p;t
	padding: 10px;
	text-align: justify;
}

section .title {
	width: 114%;
    margin: -15px -15px 15px -15px;
    text-align: center;
    font-family: 'Asenine Regular';
    font-size: 18pt;
}

section .title.main {
	width: 104%;
}

.btn-more {
	padding: 3px 14px;
	font-family: 'Asenine Regular';
	font-size: 13pt;
	border: 1px solid #509bd0;
	border-radius: 8px;
	box-shadow: 1px 2px 2px #ddd;
	-ms-box-shadow: 1px 2px 2px #ddd;
	-webkit-box-shadow: 1px 2px 2px #ddd;
}

.btn-more:hover {
	color: #FFF;
	opacity: 0.8;
}

/*-------------------------
	9.0 - Sidebar
-------------------------*/

.form-login input[type="text"]{
	font-family: 'Verdana';
	color: #555555;
	margin-bottom: 6px;
	background-color: #fcfbf8;
	border-top: 2px solid #efeeeb;
	border-right: 1px solid #f8f7f4;
	border-bottom: 0;
	border-left: 2px solid #efeeeb;
}

a.note {
	font-family: 'Verdana';
	font-size: 8.5pt;
	color: #afafaf;
	text-decoration: underline;
}

.docs {
	padding: 10px 15px;
	border-radius: 8px;
	background-color: #f3f3f3;
	margin-top: 5px;
	margin-bottom: 5px;
}

.docs .icon {
	float: left;
	width: 42px;
	margin-right: 20px;
	image-rendering: auto;
	-webkit-filter: brightness(0.25);
	-ms-filter: brightness(0.25);
	filter: brightness(0.25);
}

.docs span {
	font-family: 'Asenine Regular';
	font-size: 18pt;
	line-height: 18pt;
	color: #5f5f5f;
}

.docs:hover {
	background-color: #54a3da;
}

.docs:hover > span{
	color: #FFF;
}

.docs:hover > .icon {
	-webkit-filter: brightness(1);
	-ms-filter: brightness(1);
	filter: brightness(1);
}


/*-------------------------
	10.0 - Footer
-------------------------*/

.footer-menu {
	font-size: 19pt;
	font-family: 'Asenine Regular';
	list-style-type: none;
	line-height: 17pt;
	margin-bottom: 5px;
}

.footer-menu > li > i > a,
.footer-menu > li > a {
	font-family: 'Verdana';
	font-size: 10.5pt;
	font-weight: normal;
	text-decoration: none;
	color: #FFF;
}

.footer-menu > li > i {
    width: 35px;
    height: 35px;
    font-size: 15pt;
    border-radius: 20px;
    border: 1px solid #FFF;
    color: #FFF;
    margin-right: 10px;
    padding: 8px;
    margin-bottom: 5px;
}

.footer-form > textarea {
	border: none;
	resize: none;
}

.adress {
	font-size: 15pt;
	border-top: 1px solid #76b5e1;
	border-bottom: 1px solid #76b5e1;
}

footer p {
	font-family: 'Verdana';
	font-size: 7.5pt;
	color: #737373;
	margin: 10px 0;
}